/* ------------ CSS RESET ----------*/

*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, p {
    margin-block-end: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

h1, h2, button, input {
    line-height: 1.1;
}

h1, h2 {
    text-wrap: balance;
}

img {
    max-width: 100%;
    display: block;
}

input, button {
    font: inherit;
}

/* ------------ CSS CHALLENGE STYLE ----------*/

/* VARIABLE */
:root {
    /* Fonts */
    --ff-body: "Libre Franklin", sans-serif;
    --fs-headingOne: clamp(1.5rem, 4vw, 2.5rem);
    --fs-body: clamp(.875rem, 2vw, 1.1rem);
    --fw-300: 300;
    --fw-600: 600;
    --fw-700: 700;

    /* Colors */
    --primitive-blue: hsl(223, 87%, 63%);
    --primitive-paleBlue: hsl(223, 100%, 88%);
    --primitive-lightRed: hsl(354, 100%, 66%);
    --primitive-veryDarkBlue: hsl(209, 33%, 12%);
    --primitive-gray: hsl(0, 0%, 59%);

    --clr-headingOne: var(--primitive-gray);
    --clr-body: var(--primitive-veryDarkBlue);
    --clr-button: var(--primitive-blue);
    --clr-icon: var(--primitive-blue);
    --clr-accent: var(--primitive-veryDarkBlue);
    --clr-errorMessage: var(--primitive-lightRed);
    --clr-border: var(--primitive-paleBlue);

    /* Sizes */
    --sz-logo: 3.75rem;
    --sz-icon: 2rem;
}

body {
    margin: 0;
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    /* font-weight: 600; */
    color: var(--clr-body);
}

.text-accent {
    color: var(--clr-accent);
    font-weight: var(--fw-700);
}
/*
input[type=email]:focus {
    color: red;
    border : red;
} */

.hero {
    container: hero / inline-size;

    & .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: clamp(18.75rem, 50vw, 36.25rem);
        margin-inline: auto;
        margin-block-start: 5.5rem;
    }

    & .hero__logo {
        width: var(--sz-logo);
    }

    & .hero__heading {
        text-align: center;

        & h1 {
            font-size: var(--fs-headingOne);
            font-weight: var(--fw-300);
            color: var(--clr-headingOne);
            margin-block-start: 3rem;
        }

        & p {
            margin-block-start: 1rem;
        }
    }

    & .hero__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .75rem;
        margin-block-start: 2rem;
        width: 90%;

        & input[type=mail] {
            border: 1px solid var(--clr-border);
            border-radius: 100px;
            padding: 0.6em 2em;
            font-size: .875rem;
            width: 100%;

            &::placeholder {
                color: var(--clr-border);
                font-size: .875rem;
                opacity: 0.75;
            }

            /* &:focus {
                color: red;
                border-color: red;
            } */

        }
/*
        & input[type=mail]:focus {
            color: red;
            border : red;
            border: 1px solid red;
        } */

        & .button {
            cursor: pointer;
            font-size: .875rem;
            font-weight: var(--fw-600);
            width: 100%;
            padding: .6em 2em;
            background: var(--clr-button);
            color: #fff;
            border: 1px solid var(--clr-button);
            border-radius: 100px;
        }
    }

    & #error-message {
        width: 100%;
        padding: 0.6em 2em;
        font-size: .75rem;
        font-style: italic;
        color: var(--clr-errorMessage);
    }

    & .illustration {
        margin-block-start: 4rem;
    }

    & .social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-block-start: 8.5rem;

        & .social__icon {
            width: var(--sz-icon);
            /* height: 1.5rem; */
            color: var(--clr-icon);
            /* filter: invert(1); */
        }
    }

    & .copy {
        margin-block-start: 2rem;
        color: var(--primitive-gray);
        font-size: .75rem;
    }

}

footer {
    display: flex;
    flex-wrap: wrap;
    gap: .1rem;
    justify-content: center;
    margin-block-start: 1rem;
    font-size: clamp(.75rem, 2vw, .875rem);
    color: var(--primitive-gray);

    & p {
        margin: 0;
    }
    & a {
        text-decoration: none;
        color: var(--primitive-blue);
    }
}

/* input[type=email]:focus {
    color: red;
    border : red;
} */

@container hero (min-width: 56.25em) {

    .hero .container {
        margin-block-start: 3.5rem;
    }

    & .hero .hero__heading {

        & h1 {
            margin-block-start: 2.25rem;
        }

        & p {
            margin-block-start: .875rem;
        }
    }

    & .hero .hero__form {
        flex-direction: row;
        gap: 1rem;
        width: 100%;
        margin-block-start: 1.75rem;

        & .button {
            width: 14rem;
        }
    }

    & .hero .illustration {
        margin-block-start: 4.5rem;
    }

    & .hero .social {
        margin-block-start: 4.5rem;
    }

    & .hero .copy {
        margin-block-start: 1.25rem;
    }
}